.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tweet-list {
  width: 80%;
  margin: auto;
  margin-top: 200px;
  padding: 0;
}

.tweet-card {
  background: rgba(100, 194, 215, 0.81);
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: [first] 30% [line2] 70%;
  grid-template-rows: [row1-start] 80% [row1-end] 20%;
  grid-gap: 5px 5px;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 8px;
}

.avatar-container {
  grid-column: first / line2;
  grid-row: row1-start / 2;
  /* width: 20%;
  position: relative;
  left: 5px; */
}

.user-avatar {
  width: 40%;
  height: auto;
  margin-top: 15px;
  border-radius: 50%;
  border: 4px solid rgb(137, 212, 213);
}

.user-name {
  margin: 0;
}

.tweet-text {
  color: rgb(104, 101, 101);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.tweet-text-container {
  background-color: aliceblue;
  grid-row: row1-start / span 2;
  grid-column: line2 / 2;
  height: 80%;
  width: 90%;
  border-radius: 8px;
  font-size: 24px;
  padding: 5px 20px 5px 20px;
}

.tweet-metrics {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.tweet-info {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.timestamp {
  color: rgb(96, 93, 93);
  font-size: 12px;
}

.fa-heart {
  color: rgb(203, 56, 90);
}

.fa-retweet {
  color: rgb(57, 69, 101);
}
